{% extends 'layout.html' %}

{% block title %}Data table{% endblock %}

{% block content %}
<h2>The Chart</h2>
<p>Dear {{ username }}, here we will present the choosen data in the chart.</p>
    <div id="charts">
        <center> <img src="./static/img/001.png"></center>
        <img src="./static/img/002.png">
        <img src="./static/img/003.png">
        <img src="./static/img/004.png">
        <img src="./static/img/005.png">
        <img src="./static/img/006.png">
        <img src="./static/img/wynagrodzenie.png">
        <img src="./static/img/bezrobocie01.png">
        <img src="./static/img/bezrobocie02.png">
    </div>
{% endblock %}

<h1>Welcome Home</h1>